@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");

:root {
  --white: #fff;
  --orange: #f9ab00;
  --dark: rgba(255, 255, 255, 0);
}

body {
  font-family: "Roboto Condensed", sans-serif;
}

nav a.nav-link {
  font-size: 0.8rem;
  letter-spacing: 0.0375rem;
}
nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  border-top: 0.1875rem solid var(--dark);
}
.navbar-nav > li > a.active,
.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus {
  border-top: 0.1875rem solid var(--orange);
}
